<!-- /snippets/search-bar.liquid -->
{% comment %}

  A snippet to include a search bar anywhere in your theme.
  Note we are using 'input-group' for the layout. Look under Forms > Input Groups for some demos.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/search

  To return only products in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product to the search URL as a query parameter
    - Uncomment hidden input with value="product" below

{% endcomment %}

<form action="/search" method="get" class="input-group search-bar" role="search">
  <div class="icon-wrapper">
    <span class="icon-fallback-text">
      <span class="icon icon-search" aria-hidden="true">{% include 'icon-ui-search' %}</span>
      <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
    </span>
  </div>
  <div class="input-wrapper">
    <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
  </div>
  <div class="button-wrapper">
    <span class="input-group-btn">
      <button type="button" class="btn icon-fallback-text">
        <span class="icon icon-close" aria-hidden="true">{% include 'icon-ui-close' %}</span>
        <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
      </button>
    </span>
  </div>
</form>