<!-- /templates/customers/reset_password.liquid -->
<section class="page page-top">
  <div class="wrapper">
    <header class="content-util">
    {% include 'breadcrumb' %}
    {% include 'social-icons' %}
    </header>
    <header class="page-header">
      <h1>{{ 'customer.reset_password.title' | t }}</h1>
    </header>
  </div>
</section>

<section class="page">
  <div class="wrapper">
    <div class="content-container narrow form">

      {% form 'reset_customer_password' %}

        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        <div class="selection-wrapper">
          {{ form.errors | default_errors }}
        </div>

        <div class="selection-wrapper">
          <div class="input-row">
            <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
          </div>
          <div class="input-row">
            <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}">
          </div>

          <p class="submit">
            <input type="submit" class="button solid" value="{{ 'customer.reset_password.submit' | t }}">
          </p>
        </div>

      {% endform %}

    </div>
  </div>
</section>