<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.primary_accent_color }}">

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ content_for_header }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <script>
    window.StyleHatch = window.StyleHatch || {};
    {% include 'js-language-strings' %}
    StyleHatch.currencyFormat = {{ shop.money_format | json }};
    StyleHatch.ajaxCartEnable = {{ settings.ajax_cart_enable }};
    // Post defer
    window.addEventListener('DOMContentLoaded', function() {
      (function( $ ) {
      {% comment %}
        Add JavaScript fuctionality that relies on jQuery here
        this will allow jQuery to properly load before the calls are made
      {% endcomment %}

      {% if newHash %}
        $(function() {
          StyleHatch.updateHash('{{ newHash }}');
        });
      {% endif %}
      {% if resetPassword %}
        $(function() {
          StyleHatch.resetPasswordSuccess();
        });
      {% endif %}
      })(jq223);
    });
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <script type="text/javascript">
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.expand = 1200;
    window.lazySizesConfig.loadMode = 3;
    window.lazySizesConfig.ricTimeout = 50;
  </script>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->
  {% if settings.show_multiple_currencies %}
    {% include 'currencies' %}
  {% endif %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.min.js' | asset_url }}"></script><![endif]-->


  {% include 'shogun-head' %}
  
  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WQM5TXZ');</script>
  <!-- End Google Tag Manager -->
  <meta name="google-site-verification" content="hfsWFtkvLWuDqPuwyJxqCQlqkzK8fLuEFxyAnOFXuaI" />
  
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-template-directory="{{ template.directory }}" data-template="{{ template.name }}" >
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQM5TXZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="page">
    {% section 'promos' %}
    {% include 'header-util' %}
    {% section 'header' %}

    <main class="main-content main-content--breadcrumb-{{ settings.show_breadcrumbs }}" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>
  
  <!-- District v3.1.2 -->
</body>
</html>
