<section class="collection simple-collection" data-section-id="{{ section.id }}" data-layout="{{ section.settings.layout }}" data-section-type="list-collections-template">
  <div class="wrapper">
    
    <!--CT TAYLOR'S CODE START-->
    <!--Code to add a hero image to the site's main collection (/collections/all) page-->
    <div class="ct-hero">
      <img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/four_mountain_bikers_in_a_collage_biking_in_the_desert.jpg?12990930668977786730">
    </div>
    <!--CT TAYLOR'S CODE END-->
    
    <header class="content-util">
      {% include 'breadcrumb' %}
      {% include 'social-icons' %}
    </header>

    <header class="collection-header">
      <div class="container">
        {% if section.settings.title != blank %}
          <h1>{{ section.settings.title | escape }}</h1>
        {% endif %}
      </div>
    </header>

    {% assign collection_count = 0 %}
    {% assign isEmpty = true %}

    {% comment %}
      Count how many collections we have to show
    {% endcomment %}
    {% for collection in collections %}
      {% unless collection.handle == 'frontpage' %}
        {% assign collection_count = collection_count | plus: 1 %}
      {% endunless %}
    {% endfor %}

    {% if collection_count > 0 %}
      {% assign isEmpty = false %}
    {% endif %}

    {% if section.settings.layout == 'preview' %}
      {% if section.settings.list_mode == 'default' %}
        {% comment %}
          Default alphabetical list of all collections
        {% endcomment %}
        {% for collection in collections %}
          {% unless collection.handle == 'frontpage' %}
            <div class="collection-container">
              <header>
                <h4>{{ collection.title }}</h4>
                <a href="{{ collection.url }}" class="button outline">{{ 'collections.general.all_of_collection' | t: collection: collection.title }}</a>
              </header>

              <div class="product-container">
                {% for product in collection.products limit:4 %}
                  {% include 'product-grid-item' %}
                {% else %}
                  {% for i in (1..4) %}
                    {% include 'placeholder-product-grid-item' %}
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endunless %}
        {% endfor %}
      {% else %}
        {% for block in section.blocks %}
          {%- assign collection = collections[block.settings.collection] -%}
          <div class="collection-container">
            <header>
              <h4>{{ collection.title }}</h4>
              <a href="{{ collection.url }}" class="button outline">{{ 'collections.general.all_of_collection' | t: collection: collection.title }}</a>
            </header>

            <div class="product-container">
              {% for product in collection.products limit:4 %}
                {% include 'product-grid-item' %}
              {% else %}
                {% for i in (1..4) %}
                  {% include 'placeholder-product-grid-item' %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if section.settings.layout == 'grid' %}
      {% unless collection_image_size %}
        {%- assign collection_image_size = '500x' -%}
      {% endunless %}
      <div class="featured-grid" style="padding-top:0px; padding-left:0px; padding-right:0px; border-bottom:0px;">
        <div class="wrapper">
          <div class="row row-3">
            {% if section.settings.list_mode == 'default' %}
              {% comment %}
                Default alphabetical list of all collections
              {% endcomment %}
              {% for collection in collections %}
                {% if collection.empty? %}
                  {% comment %}add default state for collection block in theme editor{% endcomment %}
                  {% assign collection_image_url = '' %}
                {% else %}
                  {% if collection.image %}
                    {% assign image = collection.image %}
                  {% elsif collection.products.first %}
                    {% assign image = collection.products.first.featured_image %}
                  {% endif %}
                {% endif %}
                {% unless collection.handle == 'frontpage' %}
                  <div class="box" style="margin-bottom:40px;">
                    <a href="{{ collection.url }}">
                      <figure>
                        <div class="image-table">
                          <div class="image-cell">
                            {% if collection.all_products_count == 0 %}
                              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            {% else %}
                              <div class="card__image-wrapper" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%">
                                {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
                                {% include 'theme-rias' %}
                                <img class="card__image lazyload"
                                  src="{{ image | img_url: '295x' }}"
                                  data-src="{{ image_url_pattern }}"
                                  data-widths="[{{ image_widths }}]"
                                  data-aspectratio="{{ image.aspect_ratio }}"
                                  data-sizes="auto"
                                  alt="{{ image.alt | escape }}">
                                <noscript>
                                  <img class="card__image" src="{{ image | img_url: '394x' }}" alt="{{ image.alt | escape }}">
                                </noscript>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </figure>
                    </a>
                    <figcaption class="below" style="margin-top:0px;">
                      <h3><a href="{{ collection.url }}">{{ collection.title }}</a></h3>
                    </figcaption>
                  </div>
                {% endunless %}
              {% endfor %}
            {% else %}
              {% for block in section.blocks %}
                {%- assign collection = collections[block.settings.collection] -%}
                {% if collection.empty? %}
                  {% comment %}add default state for collection block in theme editor{% endcomment %}
                  {% assign collection_image_url = '' %}
                {% else %}
                  {% if collection.image %}
                    {% assign image = collection.image %}
                  {% elsif collection.products.first %}
                    {% assign image = collection.products.first.featured_image %}
                  {% endif %}
                {% endif %}

                  <div class="box" style="margin-bottom:40px;">
                    {% if collection.empty? %}
                      {% comment %}
                        Placholder
                      {% endcomment %}
                      <a href="#">
                        <figure>
                          <div class="image-table">
                            <div class="image-cell">
                              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                          </div>
                        </figure>
                      </a>
                      <figcaption class="below" style="margin-top:0px;">
                        <h3><a href="#">{{ 'homepage.onboarding.collection_title' | t }}</a></h3>
                      </figcaption>
                    {% else %}
                      <a href="{{ collection.url }}">
                        <figure>
                          <div class="image-table">
                            <div class="image-cell">
                              <div class="card__image-wrapper" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%">
                                {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
                                {% include 'theme-rias' %}
                                <img class="card__image lazyload"
                                  src="{{ image | img_url: '295x' }}"
                                  data-src="{{ image_url_pattern }}"
                                  data-widths="[{{ image_widths }}]"
                                  data-aspectratio="{{ image.aspect_ratio }}"
                                  data-sizes="auto"
                                  alt="{{ image.alt | escape }}">
                                <noscript>
                                  <img class="card__image" src="{{ image | img_url: '394x' }}" alt="{{ image.alt | escape }}">
                                </noscript>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </a>
                      <figcaption class="below" style="margin-top:0px;">
                        <h3><a href="{{ collection.url }}">{{ collection.title }}</a></h3>
                      </figcaption>
                    {% endif %}
                  </div>

              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</section>
{% schema %}
{
  "name": "List collection page",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "All collections"
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "Layout mode",
      "options": [
        { "value": "preview", "label": "Preview" },
        { "value": "grid", "label": "Grid" }
      ],
      "default": "preview"
    },
    {
      "type": "radio",
      "id": "list_mode",
      "label": "List mode",
      "options": [
        { "value": "default", "label": "All collections alphabetical" },
        { "value": "manual", "label": "Manual" }
      ],
      "default": "default",
      "info": "Add collection blocks to manually control the collections and order"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
