<section class="password" data-section-id="{{ section.id }}" data-section-type="password-template">
  <div class="password-contain">

    <header class="site-header" role="banner">
      <div class="wrapper">
        <div class="logo-nav-contain layout-vertical">
          <div class="logo-contain">

            <h1 class="site-logo {% if section.settings.logo %}has-image{% endif %}" itemscope itemtype="http://schema.org/Organization">
              {% if section.settings.logo %}
                <a href="/" itemprop="url" class="logo-image">
                    {% assign image = section.settings.logo %}
                    {% assign image_default_width = section.settings.logo_max_width | append: 'x' %}
                    {% assign image_retina_width = image_default_width | times: 2 %}
                    <img src="{{ image | img_url: image_default_width }}"
                      srcset="{{ image | img_url: image_default_width }} 1x
                              {% if image.width >= image_retina_width %},{{ image | img_url: image_default_width, scale: 2 }} 2x{% endif %}"
                      alt="{{ image.alt | escape | default: shop.name }}">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            </h1>

          </div>
        </div>
      </div>
    </header>

    <main class="main-content" role="main">
      <div class="contain">
        <div class="coming-soon">
          {% if section.settings.title %}
            <h2>{{ section.settings.title | escape }}</h2>
          {% endif %}
          {% unless shop.password_message == blank %}
            {{ shop.password_message }}
          {% endunless %}
          
        </div>

        {% if section.settings.show_newsletter %}
          <div class="subscribe">
            {% form 'customer' %}

              {{ form.errors | default_errors }}

              {% if form.posted_successfully? %}
                <p>{{ 'password.general.thanks_title' | t }}</p>
              {% else %}
                {% if section.settings.newsletter_subheading != blank %}
                  <div class="rte">{{ section.settings.newsletter_subheading }}</div>
                {% endif %}
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <div class="input-row">
                  <div class="input-wrapper">
                    <input type="email" name="contact[email]" id="email" placeholder="{{ 'password.form.your_email' | t}}" class="input-group-field" >
                  </div>
                  <div class="button-wrapper">
                    <input type="submit" value="{{ 'password.form.submit' | t }}" class="btn">
                  </div>
                </div>
              {% endif %}

            {% endform %}
          </div>
        {% endif %}

        {% if section.settings.show_social_share %}
          <div class="share">
            {% if section.settings.social_share_title %}
              <p>{{ section.settings.social_share_title | escape }}</p>
            {% endif %}
            {% include 'social-share' %}
          </div>
        {% endif %}

      </div>
    </main>

    <section class="site-login">
      <a href="#LoginModal" class="button simple login-popup" data-mfp-src="#LoginModal">{{ 'password.general.enter_store_button' | t }}</a>
      <div id="LoginModal" class="mfp-hide white-popup">
        {% form 'storefront_password' %}

        {{ form.errors | default_errors }}

        <h3>{{ 'password.general.enter_store_title' | t }}</h3>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <div class="input-row">
          <div class="input-wrapper">
            <input type="password" name="password" placeholder="{{ 'password.form.your_password' | t }}" class="input-group-field" >
          </div>
          <div class="button-wrapper">
            <input type="submit" value="{{ 'password.form.enter' | t }}" class="btn">
          </div>
        </div>

        {% endform %}
        <p>{{ 'password.general.store_owner_html' | t }}</p>
      </div>
    </section>

    <footer class="password-footer">
      <div class="contain">
        <p>{{ 'password.general.powered_by_html' | t }}</p>
      </div>
    </footer>

  </div>
</section>
{%- assign accent_brightness = section.settings.color_accent | color_brightness | plus: 0 -%}
{% if accent_brightness > 153 %}
  {%- assign text_on_accent = '#000000' -%}
{% else %}
  {%- assign text_on_accent = '#ffffff' -%}
{% endif %}
{%- assign color_hover = section.settings.color_accent | color_darken: 15 -%}
<style media="screen">
html.template-password {
  background-color: {{ section.settings.color_background }};
  {% if section.settings.background_image %}
    background: url({{ section.settings.background_image | img_url: '2000x2000' }}) no-repeat center center fixed;
  {% endif %}
  background-size: cover;
}
body {
  color: {{ section.settings.color_text }};
  background-color: transparent;
}
h1,h2,h3,h4,h5,h6 {
  color: {{ section.settings.color_title }};
}
a {
  color: {{ section.settings.color_accent }};
}
a:hover {
  color: {{ color_hover }};
}
h1.site-logo a {
  color: {{ section.settings.color_title }};
}
h1.site-logo a:hover {
  color: {{ section.settings.color_accent }};
}
input:focus,
button:focus {
  border-color: {{ section.settings.color_accent }};
}
input {
  border-color: {{ section.settings.color_text }};
  border-color: {{ section.settings.color_text | hext_to_rgba: 0.4 }};
  color: {{ section.settings.color_text }};
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px {{ section.settings.color_background }} inset;
  -webkit-text-fill-color: {{ section.settings.color_text }} !important;
  border-color: {{ section.settings.color_accent }};
}
input::-webkit-input-placeholder {
  color: {{ section.settings.color_text | color_mix: section.settings.color_background, 70 }} !important;
}
input:-ms-input-placeholder {
  color: {{ section.settings.color_text | color_mix: section.settings.color_background, 70 }} !important;
}
input::-moz-placeholder {
  color: {{ section.settings.color_text | color_mix: section.settings.color_background, 70 }} !important;
}
input:-moz-placeholder {
  color: {{ section.settings.color_text | color_mix: section.settings.color_background, 70 }} !important;
}
button,
input.btn {
  background-color: {{ section.settings.color_accent }};
  color: {{ text_on_accent }};
}
button:hover,
input.btn:hover,
button:focus,
input.btn:focus {
  background-color: {{ color_hover }};
}
section.site-login > a.button.simple {
  color: {{ section.settings.color_text }};
}
section.site-login > a.button.simple:hover {
  color: {{ section.settings.color_accent }};
}
.errors {
  color: {{ section.settings.color_accent }};
}
button.mfp-close {
  color: {{ section.settings.color_text }};
}
button.mfp-close:hover {
  color: {{ section.settings.color_accent }};
}
.white-popup {
  background: {{ section.settings.color_background }};
}
</style>
{% schema %}
{
  "name": "Password page",
  "class": "password-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 1180,
      "step": 20,
      "unit": "px",
      "label": "Logo maximum width",
      "default": 280
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Coming Soon"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show newsletter form",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_subheading",
      "label": "Subheading",
      "default": "<p>Subscribe to be the first to hear about our exclusive offers and latest arrivals.</p>"
    },
    {
      "type": "header",
      "content": "Social"
    },
    {
      "type": "checkbox",
      "id": "show_social_share",
      "label": "Show social share buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_share_title",
      "label": "Social share buttons heading",
      "default": "Share the news"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "#4f4f4f"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Title",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_accent",
      "label": "Accent",
      "default": "#008080"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image",
      "info": "1500 x 1100px .jpg recommended"
    }
  ]
}
{% endschema %}
