<div class="simple-collection layout-{{ section.settings.product_count_range }}" data-section-id="{{ section.id }}" data-section-type="simple-collection-section">
  <div class="wrapper">
    <header{% if section.settings.center_heading %} class="centered"{% endif %}>
      {% if section.settings.title != blank %}
        <h4>{{ section.settings.title | escape }}</h4>
      {% endif %}
      {% if section.settings.button_link != blank and section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="button outline">{{ section.settings.button_label | escape }}</a>
      {% endif %}
    </header>
    <div class="product-container">
      {%- assign collection = collections[section.settings.collection] -%}
      {%- assign product_limit = section.settings.product_count_range -%}
      {% for product in collection.products limit: product_limit  %}
        {% include 'product-grid-item' %}
      {% else %}
        {% for i in (1..product_limit) %}
          {% include 'placeholder-product-grid-item' %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Simple collection",
  "class": "simple-collection-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "checkbox",
      "id": "center_heading",
      "label": "Center heading",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_count_range",
      "label": "Number of products",
      "min": 4,
      "max": 20,
      "step": 4,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
